@model EditModel

<blockquote class="blockquote text-center">
  <p class="mt-1" id="quote"></p>
  <footer class="blockquote-footer mt-2" id="author"><cite title="Source Title"></cite></footer>
</blockquote>
  <div class="container mt-3">
      <p class="card-text fs-4">ToDoApp</p>
      <form action="/home/Edit" method="post">
      <input type="hidden" name="TaskId" value="@Model.EditTask.TaskId">
      <div class="input-group mb-3">
          <input name="TaskHeader" type="text" value="@Model.EditTask.TaskHeader" class="form-control" placeholder="Add Task">
          <button type="submit" class="btn btn-outline-secondary" id="button-add">Edit</button>
        </div>
        <div class="input-group mb-3">
          <input name="Description" type="text" value="@Model.EditTask.Description" class="form-control" placeholder="Add Description">
        </div>
        </form>
        <ul class="list-group list-group-horizontal mb-3">
          <li class="list-group-item"><a href="#">All</a></li>
          <li class="list-group-item"><a href="#">Pending</a></li>
          <li class="list-group-item"><a href="#">Completed</a></li>
        </ul>
      <div class="accordion" id="mainAccordion">
          <!-- filled with tasks -->
          @foreach (var task in Model.Tasks)
          {
            <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a task.TaskId" aria-expanded="true" aria-controls="collapseOne">
                        @task.TaskHeader
                        </button>
                        <div class="icons">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><i class="fa-solid fa-pen-to-square fa-sm"></i></a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><i class="fa-solid fa-trash fa-sm"></i></a>
                            <a href="#" id="status" onclick="finishTask(@task.TaskId)"><i class="${statusIcon}"></i></a>
                            
                        </div>
                    </h2>
                    <div id="a${task.id}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          
                        @task.Description
                        </div>
                    </div>
                </div>
          }
      </div>
  </div>
 
