@model PaginationModel

<blockquote class="blockquote text-center">
  <p class="mt-1" id="quote"></p>
  <footer class="blockquote-footer mt-2" id="author"><cite title="Source Title"></cite></footer>
</blockquote>
  <div class="container mt-3">
      <p class="card-text fs-4">ToDoApp</p>
      <form action="/home/AddTask" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group mb-3">
            <input asp-for="TaskHeader" class="form-control" placeholder="Add Task" >
            <button type="submit" class="btn btn-outline-secondary" id="button-add">Add</button>
          </div>
          <div class="input-group mb-3">
            <input asp-for="Description" class="form-control" placeholder="Add Description" value="@Model.Description">
          </div>
        </form>
        <ul class="list-group list-group-horizontal mb-3">
          <li class="list-group-item"><a  href="/all">All</a></li>
          <li class="list-group-item"><a href="/pending">Pending</a></li>
          <li class="list-group-item"><a href="/completed">Completed</a></li>
        </ul>
      <div class="accordion" id="mainAccordion">
          <!-- filled with tasks -->
          @foreach (var task in Model.Tasks)
          {
            <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class='accordion-button collapsed @(task.isCompleted ? "done" : "")' type="button"
                         data-bs-toggle="collapse" data-bs-target="#a@(task.TaskId)"
                         aria-expanded="false" aria-controls="a@(task.TaskId)"
                         onclick="drawBorder(this)">
                        @task.TaskHeader
                        </button>
                        <div class="icons">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId"><i class="fa-solid fa-pen-to-square fa-sm "></i></a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId"><i class="fa-solid fa-trash fa-sm"></i></a>
                            <a asp-controller="Home" asp-action="Check" asp-route-id="@task.TaskId" id="status"><i class='@(task.isCompleted ? "fa-solid fa-rotate-left": "fa-solid fa-check")'></i></a>
                        </div>
                    </h2>
                    <div id="a@(task.TaskId)" class="accordion-collapse collapse border-bottom border-info" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        @task.Description
                        </div>
                    </div>
                    
                </div>
          }
      </div>
        <nav class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            @for(int i=0; i<Model.PageInfo.TotalPage; i++)
            {
               <li class="page-item"><a class="page-link" href="/home/index/?currentPage=@(i+1)">@(i+1)</a></li>
            }
          </ul>
        </nav>
  </div>
 
